@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

/* variable */
:root {
    --blue: #3730FF;
    --ungu: #F130FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* home */
header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.411);
}

header nav {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

/* text bg */
header .textBg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    z-index: 3;
}

header .textBg .textLine {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px) !important;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    border-right: 1.5px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

header .textBg .textLine path {
    stroke: white;
}

header .textTitle {
    margin-top: 50px;
}

header .textTitle h1 {
    font-family: 'Orbitron';
    font-weight: 500;
    font-size: 50px;
    text-shadow: 0 5px 10px rgba(7, 0, 0, 0.24);
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
}
/* text bg end */

/* bg line */
header .lineBg {
    max-width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    background: linear-gradient(to right, var(--blue),var(--ungu));
}
/* bg line end */


/* hamburger menu */
.hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 60px;
    left: 150px;
    z-index: 10;
    position: fixed;
}

.hamburger .line:nth-child(1) {
    width: 30px;
    height: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.411);
    transition: 1s;
    background: white;
}

.hamburger .line:nth-child(2) {
    width: 30px;
    height: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.411);
    transition: 1s;
    background: white;
}

.hamburger .line:nth-child(3) {
    width: 30px;
    height: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.411);
    transition: 1s;
    background: white;
}

.hamburger.cek .line:nth-child(1) {
    transform: rotate(45deg) translate(-2px,1px);
    transform-origin: 0 0;
    transition: 1s;
    background: white;
}

.hamburger.cek .line:nth-child(2) {
    opacity: 0;
    transition: 1s;
}

.hamburger.cek .line:nth-child(3) {
    transform: rotate(-45deg) translate(-4px,0);
    transform-origin: 0 0;
    transition: 1s;
    background: white;
}

.hamburger .line.bingu1 {
    background: linear-gradient(to right,var(--blue),var(--ungu));
    transition: 1s;
}

.hamburger .line.bingu2 {
    background: linear-gradient(to right,var(--blue),var(--ungu));
    transition: 1s;
}

.hamburger .line.bingu3 {
    background: linear-gradient(to right,var(--blue),var(--ungu));
    transition: 1s;
}
/* hamburger menu end */


/* logo */
.logo {
    transition: 1s;
    position: fixed;
    top: 40px;
    right: 150px;
    z-index: 10;
}

.logo text {
    font-family: 'Orbitron';
}
/* logo end */


/* link */
.link {
    left: -210px;
    top: 50px;
    width: 200px;
    height: 500px;
    position: fixed;
    background: linear-gradient(to bottom, var(--blue),var(--ungu));
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.411);
    z-index: 5;
}

.link.linkR {
    left: 0;
    transition: 1s ease-in-out;
}

.link ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.link ul li a {
    margin-bottom: 300px;
    color: white;
    text-decoration: none;
}

.link ul li a:hover {
    text-decoration: underline;
    color: rgb(160, 157, 157);
}
/* link end */
/* home end */


/* about */
.about {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lineAbout {
    z-index: 10;
    transform: scale(1);
    position: absolute;
    top: 10px;
}

.lineAbout path {
    stroke: var(--ungu);
}

.about .kotak1 {
    position: absolute;
    z-index: 0;
    transform: rotate(-60deg) !important;
    bottom: -150px !important;
    left: -300px !important;
}

.about .bulat1 {
    position: absolute;
    right: -200px;
}

.about .content {
    width: 800px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 70px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.452);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-right: 1.5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
}

.about svg path {
    stroke-width: 2px;
}

.about .content .textContent {
    padding-left: 40px;
    width: 550px;
}

.about .textContent p {
    margin-top: -50px;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 25px;
}

.about .skill {
    position: absolute;
}

.about .skill h4 {
    font-size: 25px;
    font-family: 'Orbitron';
    margin-bottom: 15px;
}

.about .skill h6 {
    font-family: 'Poppins';
    font-size: 14px;
}

.about .content .imgCircle {
    width: 200px;
    height: 250px;
    overflow: hidden;
    background: url(../assets/img.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-top: 60px;
}

.progress {
    position: absolute;
    z-index: 10;
    width: 440px;
    left: 320px;
}

.progress.p1{
    bottom: 96px;
    height: 10px;
    background: white;
    border: .5px solid var(--blue);
}

.progress.p1 .progress-bar {
    background: linear-gradient(to right, var(--blue), var(--ungu));
}

.progress.p2 {
    bottom: 70px;
    height: 10px;
    background: white;
    border: .5px solid var(--blue);
}

.progress.p2 .progress-bar {
    background: linear-gradient(to right, var(--blue), var(--ungu));
}

.progress.p3 {
    bottom: 46px;
    height: 10px;
    background: white;
    border: .5px solid var(--blue);
}

.progress.p3 .progress-bar {
    background: linear-gradient(to right, var(--blue), var(--ungu));
}
/* about end */